*,
*::before,
*::after {
    box-sizing: border-box;
}

/*Custom Properties*/
:root {
    --ff-primary: 'Source Sans Pro', sans-serif; 
    --ff-secondary: 'Source Code Pro', monospace; 

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light:#fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h2-3: 1.75 ;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,25),
          0.125em 0.125em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 5.5rem;
        --fs-h2: 3.75rem;
        --fs-h2-3: 1.75 ;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}
/*General styles*/

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}
img {
    display: block;
    max-width: 100%;
}
strong {
    font-weight: var(--fw-bold);
    font-size: 1.5em;
}

/*Typography*/

h1,h2,h3 {
    line-height: 1;
    margin:0;
}

h1 { font-size: --var(--fs-h1);}
h2 { font-size: --var(--fs-h2);}
h3 { font-size: --var(--fs-h3);}

.section__title {
    margin-bottom: .25em;
}
.section__title-intro {
    font-weight: var(--fw-reg);
}

/* So that the name always ends up on it's own line*/
.section__title--intro strong {
    display: block;
}
.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

section {
    padding: 3em 2em;
}

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs)
}
.section__subtitle--intro {
    display: inline-block;
}


/*Navigation*/
header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5,0,1);
}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}
.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}
.nav__link:hover {
    color: var(--clr-accent);
}

/* hamburger, this will be done the more complicated way to be able to make all the pieces more animatable*/

.nav-open .nav{
    transform: translateX(0);
}

/*This will ensure that the hamburger stays within sight when clicking on the jumping links*/
.nav-open .nav-toggle{
    position: fixed;
}

/*turn the hamburger .625turn*/
.nav-open .hamburger {
    transform: rotate(.625turn);
}
/*Rotate the burger before 90deg and translate -6px*/
.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}
/*Make the burger after, completely transparent making it invisible*/
/*This series of transformations will make an X*/
.nav-open .hamburger::after {
    opacity: 0;
}
.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;

}
.hamburger {
    display: block;
    position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
    background-color: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}
.hamburger::before {top: 6px;}
.hamburger::after {bottom: 6px;}

.logo {
    max-width: 100px;
}

/*My services section*/

.my-services {
    background-color: var(--clr-dark);
    background-image: url(https://i.ytimg.com/vi/QXGnoFkjLBs/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-size: cover;
    text-align: center;
    color: var(--clr-light);
}

.services {
    flex-flow: row nowrap;
    justify-content: space-between;
}
.services > .service > * {
    color: white;
}
.my-services .section__title--services {
    display: flex;
    color: var(--clr-accent);
    justify-content: center;
    font-size: 2em;
    margin-bottom: 1em;
}
.my-services > a {
    display: flex;
    color: var(--clr-accent);
    justify-content: center;
}

/*About me section */

/*The about me section is a good way to center content in a page in reference to it's parent container. The below code means to have about me section max out at 1000px in width and centering it with margin 0 auto; */
.about-me {
    max-width: 1000px;
    /*The margin is 0 vertically, meaning the top and the bottom of the section has 0 margin, but the horizontal is auto. This means that the container or element will be centered horizontally within its parent container. This has no effect on the kind of display the elements exert*/
    margin: 0 auto;
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        
        grid-template-areas:
        "title img"
        "subtitle img"
        "text img";
        grid-column-gap: 2em;
    }
    .about-me__img {
        box-shadow: var(--bs);
    }
    .section__title--about {
        grid-area: title;
    } 
    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        /* left: -1em is so that the green part is sticking out */
        left: -1em;
        width: calc(100% + 2em);
        /*The padding on the left is so that the text lines up with the main text in our portfolio website*/
        padding-left: 1em;
        /*by having this padding on the right, this is going to ensure
          that the text never goes behind the image and wraps when needed*/
        padding-right: calc(200px + 4em) 
    }
    .about-me__img {
        /* Start at the top and end at the end of the rows automatically*/
        grid-row: 1 / -1;
        grid-column: 2;
        position: relative;
    }
}
@media (min-width: 800px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 2em;
        grid-template-areas:
        "img ."
        "img .";
        grid-template-columns: min-content max-content;
    }
    .intro__img {
        grid-area: img;
        min-width: 230px;
        position:relative;
        z-index: 2;
    }
    .section__subtitle--intro {
        align-self: start;
        /*Stretch from one end to the other*/
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
    
    .services {
        display: flex;
        justify-content: center;
    }
    .service > *{
        display: flex;
        justify-content: center;
    }
    
}
nav {
    display: flex;
    justify-content: center; /* end justify*/
    background-color: #19212e;
    padding: 10px 0;
}
nav > ul {
    list-style-type: none;
}
nav a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    transition: background-color 0.3s ease; 
    font-size: 1.2rem;
}

nav a:hover {
    background-color: #7e7e7e;
    /*Make into a circle*/
}

#resume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
#resume > img {
    border: 2px solid black;
    margin-bottom: 7px;
}

#resume > p {
    font-size: x-large;
    font-weight: bold;
}

.my-work > * {
    color: white;
}
.my-work {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color:#19212e;
    gap: 10px;
}
.project {
    display: grid;
    grid-template-columns: 300px minmax(500px,650px);
    margin-top: 0px;
}
.project-links {
    display: flex;
}
.project-links > * {
    margin: 1em;
}
.project > .project__video {
    margin: auto 0;
}
.project__intro {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; /* Centers items vertically */

    gap: 1em; /* Adjust this value for desired spacing between items */
}
.projects__video {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; /* Centers items vertically */
    align-items: center;
    gap: 1em; /* Adjust this value for desired spacing between items */
}

@media (max-width: 750px) {

    .project {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;;
    }
}

#github-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin-right: 19%;
    margin-bottom: 10px
}
#link-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin-bottom: 10px
}
#github-button:hover {
    background-color: #555;
}

footer {
    background-color: #19212e;
    color: #fff;
    padding: 10px;
    text-align: center;
}
footer > p {
    margin: 25px 0px 10px 0px;
}

.ionicon{
    height: 90px;
    width: 90px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin: 10px 30px;
}

#footer {
    padding-top: 0px;
}
.info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40%;
    margin-top: 0px;
}

#footer > div > h3{

    margin-block-start: 0.5rem;
}

@media (max-width: 1000px) {
    nav {
        flex-direction: column;
    }
    #resume {
        flex-flow: column nowrap;
    }
    #resume > img {
        width: 80%;
    }
}

