nav {
    display: flex;
    justify-content: center; /* end justify*/
    align-items: center; /* Centers the links vertically */
    background-color: #19212e;
    padding: 10px 0;
}
nav a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    transition: background-color 0.3s ease; 
    font-size: 1.2rem;
}

nav a:hover {
    background-color: #7e7e7e;
    /*Make into a circle*/
}

.introduction-container {
    background-color: #19212e;
    display: flex;
    flex-direction: column;
    justify-content:space-around;

}
.introduction-container > * {
    display: block;
    margin: 0;
}
.introduction-container >h1{
    margin: 0px;
    padding: 0rem 0rem 1rem 0rem;
}
.introduction-container > h1, .introduction-container > h2 {
    text-align: center;
    color: white;
}

#resume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
#resume > img {
    border: 2px solid black;
    margin-bottom: 7px;
}

#resume > p {
    font-size: x-large;
    font-weight: bold;
}

footer {
    background-color: #19212e;
    color: #fff;
    padding: 10px;
    text-align: center;
}
footer > p {
    margin: 25px 0px 10px 0px;
}



.ionicon{
    height: 90px;
    width: 90px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin: 10px 30px;
}

#footer {
    padding-top: 0px;
}
.info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40%;
    margin-top: 0px;
}

#footer > div > h3{

    margin-block-start: 0.5rem;
}

@media (max-width: 1000px) {
    nav {
        flex-direction: column;
    }
    #resume {
        flex-flow: column nowrap;
    }
}

