*,
*::before,
*::after {
    box-sizing: border-box;
}

/*Custom Properties*/
:root {
    --ff-primary: 'Source Sans Pro', sans-serif; 
    --ff-secondary: 'Source Code Pro', monospace; 

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light:#fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h2-3: 2rem ;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,25),
          0.125em 0.125em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 5.5rem;
        --fs-h2: 3.75rem;
        --fs-h2-3: 2rem ;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}
/*General styles*/

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}
img {
    display: block;
    max-width: 100%;
}
strong {
    font-weight: var(--fw-bold);
    font-size: 1.5em;
}

/*Typography*/

h1,h2,h3 {
    line-height: 1;
    margin:0;
}

h1 { font-size: --var(--fs-h1);}
h2 { font-size: --var(--fs-h2);}
h3 { font-size: --var(--fs-h3);}

p {
    margin-bottom: 5px;
}
.section__title {
    margin-bottom: .25em;
}
.section__title-intro {
    font-weight: var(--fw-reg);
}

/* So that the name always ends up on it's own line*/
.section__title--intro strong {
    display: block;
}
.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    border-radius: 5px;
    padding: 0 5px;
}

section {
    padding: 3em 2em;
}

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs)
}
.section__subtitle--intro {
    display: inline-block;
}


/*Navigation*/
header {
    display: flex;
    justify-content: center;
    padding: 1em;
}
header > p {
    margin-top: 6px;
}
.social-media-links {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 10px;
}
.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5,0,1);
}

.nav__list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}
.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}
.nav__link:hover {
    color: var(--clr-accent);
}

/* hamburger, this will be done the more complicated way to be able to make all the pieces more animatable*/

.nav-open .nav{
    transform: translateX(0);
}

/*This will ensure that the hamburger stays within sight when clicking on the jumping links*/
.nav-open .nav-toggle{
    position: fixed;
}

/*turn the hamburger .625turn*/
.nav-open .hamburger {
    transform: rotate(.625turn);
}
/*Rotate the burger before 90deg and translate -6px*/
.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}
/*Make the burger after, completely transparent making it invisible*/
/*This series of transformations will make an X*/
.nav-open .hamburger::after {
    opacity: 0;
}
.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1.8em;
    z-index: 1000;
}
.hamburger {
    display: block;
    position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
    background-color: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}
.hamburger::before {top: 6px;}
.hamburger::after {bottom: 6px;}

/*My services section*/

.my-services {
    background-color: var(--clr-dark);
    background-image: url(https://i.ytimg.com/vi/QXGnoFkjLBs/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-size: cover;
    text-align: center;
    color: var(--clr-light);
}

.services {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    max-width: 75%;
    margin: 0 auto;
}
.services > .service > * {
    color: white;
}
.my-services .section__title--services {
    display: flex;
    color: var(--clr-accent);
    justify-content: center;
    font-size: 2em;
    margin-bottom: 1em;
}
.my-services > a {
    display: flex;
    color: var(--clr-accent);
    justify-content: center;
    padding: 0px 200px;
}

/*About me section */

/*The about me section is a good way to center content in a page in reference to it's parent container. The below code means to have about me section max out at 1000px in width and centering it with margin 0 auto; */
.about-me {
    max-width: 1000px;
    /*The margin is 0 vertically, meaning the top and the bottom of the section has 0 margin, but the horizontal is auto. This means that the container or element will be centered horizontally within its parent container. This has no effect on the kind of display the elements exert*/
    margin: 0 auto;
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        
        grid-template-areas:
        "title img"
        "subtitle img"
        "text img";
        grid-column-gap: 2em;
    }
    .about-me__img {
        box-shadow: var(--bs);
    }
    .section__title--about {
        grid-area: title;
    } 
    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        /* left: -1em is so that the green part is sticking out */
        left: -1em;
        width: calc(100% + 2em);
        /*The padding on the left is so that the text lines up with the main text in our portfolio website*/
        padding-left: 1em;
        /*by having this padding on the right, this is going to ensure
          that the text never goes behind the image and wraps when needed*/
        padding-right: calc(200px + 4em) 
    }
    .about-me__img {
        /* Start at the top and end at the end of the rows automatically*/
        grid-row: 1 / -1;
        grid-column: 2;
        position: relative;
    }
    /*Introduction section*/
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 2em;
        grid-template-areas:
        "img ."
        "img .";
        grid-template-columns: min-content max-content;
    }
    .intro__img {
        grid-area: img;
        min-width: 230px;
        position:relative;
        z-index: 2;
    }
    .section__subtitle--intro {
        align-self: start;
        /*Stretch from one end to the other*/
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
        border-radius: 15px;
    }
}

nav {
    display: flex;
    justify-content: center;
    background-color: #19212e;
    padding: 10px 0;
}
nav > ul {
    list-style-type: none;
}
nav a {
    display: block;
    padding: 8px 16px;
    transition: background-color 0.4s ease; 
}
nav a:hover {
    background-color: #7e7e7e;
}


.my-work > * {
    color: black;
}
.my-work {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color:#ffffff;
    gap: 10px;
}
.my-work .section__title {
    font-size: var(--fs-h2-3);
}
/*My technologies*/
.green-background{
    background-color: #16e0bd;
    padding: 10px;
    width: 75%;
    margin: 0 auto;
    border-radius: 10px;;
}
.my-technologies__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    max-width: 75%;
    margin: 0 auto;
    margin-top: 2em;
    padding-left: 3em;
}
.center {
    text-align: center;
}
/*In order to contain the image inside of the given dimensions then 
  we use object-fit: contain;*/
.my-technologies__images > img {
    height: 110px;
    width: 100px;
    object-fit: contain;
}
#powershell-image {
    height: 110px;
    width: 110px;
}
#sql {
    height: 125px;
    width: 110px;
}
#mariadb {
    height: 130px;
    width: 140px;
}

/*Intern companies*/
.intern-companies {
    max-width: 75%;
    margin: 0 auto;
}

.company {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 1.5em auto;
}
.companies {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 1em;
}
.companies div:first-of-type {
    margin-top: 1em;
}
.company__text {
    text-align: center;
}
.company__image {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 275px; 
    width: 275px;
    object-fit: contain;
    margin: 0px auto;
}
.company__image > img {
    margin-bottom: 10px;
    box-shadow: var(--bs);    
}
.kern img {
    padding: 30px;
}
.company__button {
    margin-left: 20%;
}
.my-research {
    display: flex; 
    flex-direction: column;
    align-items: center;
    max-width: 75%;
    margin: 0px auto;
}
.my-research > .section__subtitle {
    margin-top: 10px;
}
.my-research  > p {
    font-size: var(--fs-body)
}

/*section*/
.my-resume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.my-resume > img {
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
}
.resume__title {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 1em;
    font-size: x-large;
    font-weight: bold;
}
.resume__text {
    text-align: center;
}
.resume__image {
    border: 2px solid black;
    margin-bottom: 7px; 
    width: 100%;
    max-width: 575px;
}
.resume__button,
.research-button,
.company__button,
.network-scanner-github__button,
.data-automation-documentation__button {
    background-color: #333;
    padding: 1em 1em;
    color: white;
    font-family: var(--ff-secondary);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    align-items: center;
}
.resume__button:hover {
    background-color: #555;
}

.project {
    display: grid;
    grid-template-columns: 300px minmax(400px,650px);
}
.project-links, .links {
    display: flex;
}

.project-links > a, .links > a {
    margin: 2%;
}
.project > .project__video {
    margin: auto 0;
}
.project__intro {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; /* Centers items vertically */
    align-items: center;
    gap: 1em; /* Adjust this value for desired spacing between items */
    text-align: center;
}
.projects__video {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; /* Centers items vertically */
    align-items: center;
    gap: 1em; /* Adjust this value for desired spacing between items */
}
.stack_used {
    grid-column: 1 / -1;
}
#link-button, #github-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin-bottom: 10px
}
#github-button:hover, #link-button:hover {
    background-color: #555;
}

/*Contact Form*/

.contact-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 75%;
    margin: 1em auto;
    border-radius: 20px;
    background-color: #333;
    padding: 1em;
}
.contact-form__container {
    width: 100%;
}
.contact-form__title {
    color: white;
}
form > * {
    margin: 1em;
    border-radius: 10px;
}
.form-control {
    width: 60%;
    border-bottom: solid black 1px;
}
input {
    height: 30px;
}

form .submit {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.ionicon{
    height: 90px;
    width: 90px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin: 10px 30px;
}

@media (max-width: 1000px) {
    nav {
        flex-direction: column;
    }
    .my-resume {
        flex-flow: column nowrap;
    }
    .resume__image {
        width: 100%;
    }
    .contact-form {
        flex-flow: column nowrap;
    }
    .contact-form__title {
        margin-bottom: 1em;
    }
    .form-control {
        width: 100%;
    }
    .project {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .my-technologies__images {
        padding-left: unset;
    }
    .company {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 20px;
    }
    .services {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
        max-width: 75%;
        margin: 0 auto;
    }
    .services .service {
        max-width: 100%;
        height: 250px;
    }
    .services .service {
        max-width: 100%;
    }
    .service > * {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 700px) {
    .contact-form {
        flex-direction: column;
        align-items: center;
    }
    form > * {
        margin: 1em auto;
    }
}


.stack_used {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgb(59, 59, 59) 0%, rgba(0, 0, 0, 0.8) 100%); /* Background gradient */
    padding: 10px;
    border-radius: 5px; 
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2); 
    margin: 15px 0; /* Some space above and below the container */
}

.stack_used h3 {
    margin: 0;
    color: white;
    font-size: 18px;
    font-weight: 600; 
    letter-spacing: 2px; 
}
